body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* fonts */

@font-face {
  font-family: 'fifties_moviesregular';
  src: url('./fonts/fifties_movies-webfont.woff') format('woff'),
       url('./fonts/fifties_movies-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mouse_memoirsregular';
  src: url('./fonts/mousememoirs-regular-webfont.woff2') format('woff2'),
       url('./fonts/mousememoirs-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'kelvinizednormal';
  src: url('./fonts/kelvinized-webfont.woff2') format('woff2'),
       url('./fonts/kelvinized-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'fontdinerdotcom_loungyregular';
  src: url('./fonts/fontdinerdotcomloungy-webfont.woff2') format('woff2'),
       url('./fonts/fontdinerdotcomloungy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

#about-arrow {
  border-bottom: 5em solid #F2DF4D;
  border-left: 49vw solid transparent;
  border-right: 49vw solid transparent;
  float: left;
  height: 10rem;
  width: 100%;
}

#about-arrow-dark {
  border-bottom: 5em solid #7B56F7;
  border-left: 49vw solid transparent;
  border-right: 49vw solid transparent;
  float: left;
  height: 10rem;
  width: 100%;
}

#contact-arrow {
  border-bottom: 5em solid #a16207;
  border-left: 49vw solid transparent;
  border-right: 49vw solid transparent;
  float: left;
  height: 10rem;
  width: 100%;
  transform: scale(-1);
}

#contact-arrow-dark {
  border-bottom: 5em solid #312e81;
  border-left: 49vw solid transparent;
  border-right: 49vw solid transparent;
  float: left;
  height: 10rem;
  width: 100%;
  transform: scale(-1);
}

#name {
  font-family: 'mouse_memoirsregular';
  font-weight: normal;
  font-style: normal;
}


#blob1 {
  width: 40rem;
  height: 25rem;
  border-top: 1rem solid transparent;
  border-bottom: 3rem solid transparent;
  border-top-right-radius: 15rem 10rem;
  border-top-left-radius: 50rem 20rem;
  border-bottom-left-radius: 39rem 20rem;
  border-bottom-right-radius: 20rem 30rem;
}

#blob1-xs {
  width: 24rem;
  height: 18rem;
  border-top: 1rem solid transparent;
  border-bottom: 3rem solid transparent;
  border-top-right-radius: 15rem 10rem;
  border-top-left-radius: 50rem 20rem;
  border-bottom-left-radius: 39rem 20rem;
  border-bottom-right-radius: 20rem 30rem;
}

#blob2 {
  width: 40rem;
  height: 25rem;
  background-color: "transparent";
  border-top: 1rem solid #F2DF4D;
  border-bottom: 1rem solid #F2DF4D;
  border-top-right-radius: 15rem 10rem;
  border-top-left-radius: 50rem 20rem;
  border-bottom-left-radius: 39rem 20rem;
  border-bottom-right-radius: 20rem 30rem;
  transform: rotate(20deg);
  animation-name: blobAnim;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#blob2-xs {
  width: 24rem;
  height: 20rem;
  background-color: "transparent";
  border-top: 1rem solid #F2DF4D;
  border-bottom: 1rem solid #F2DF4D;
  border-top-right-radius: 15rem 10rem;
  border-top-left-radius: 50rem 20rem;
  border-bottom-left-radius: 39rem 20rem;
  border-bottom-right-radius: 20rem 30rem;
  transform: rotate(20deg);
  animation-name: blobAnim;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#blob2-dark {
  width: 40rem;
  height: 25rem;
  background-color: "transparent";
  border-top: 1rem solid #4BC6D6;
  border-bottom: 1rem solid #4BC6D6;
  border-top-right-radius: 15rem 10rem;
  border-top-left-radius: 50rem 20rem;
  border-bottom-left-radius: 39rem 20rem;
  border-bottom-right-radius: 20rem 30rem;
  transform: rotate(20deg);
  animation-name: blobAnim;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#blob2-dark-xs {
  width: 24rem;
  height: 20rem;
  background-color: "transparent";
  border-top: 1rem solid #4BC6D6;
  border-bottom: 1rem solid #4BC6D6;
  border-top-right-radius: 15rem 10rem;
  border-top-left-radius: 50rem 20rem;
  border-bottom-left-radius: 39rem 20rem;
  border-bottom-right-radius: 20rem 30rem;
  transform: rotate(20deg);
  animation-name: blobAnim;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#job-title {
  font-family: 'fifties_moviesregular';
  font-weight: normal;
  font-style: normal;
}

#title {
  font-family: 'kelvinizednormal';
  font-weight: normal;
  font-style: normal;
}

#subtitle {
  font-family: 'mouse_memoirsregular';
  font-weight: normal;
  font-style: normal;
}

#text {
  font-family: 'Poppins';
  font-weight: 200;
  font-style: normal;
}

#bubble {
  width: 8rem;
  height: 5rem;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(6deg);
  box-shadow: 2rem;
  font-family: "fontdinerdotcom_loungyregular";
}

#burst-8 {
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  transform: rotate(20deg);
  transform: scaleX(-1.7);
}
#burst-8:before {
  content: "";
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  transform: rotate(135deg);
}

#profile-pic {
  mask-image: url("./svg/oval.svg");
  height: 100%;
  width: 100%;
  background-image: url("./img/japanese_josh.jpeg");
  mask-position: 50% 50%;
  mask-size: 50rem;
  background-position: 50% 0%;
  background-size: 40rem;
}

#tvScreenXL-static {
  position: relative;
  width: 35rem;
  height: 25rem;
  margin: 20px 0;
  background-image: url("./img/static1.gif");
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}
#tvScreenXL-static:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

#tvScreenLG-static {
  position: relative;
  width: 25rem;
  height: 23rem;
  margin: 20px 0;
  background-image: url("./img/static1.gif");
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}
#tvScreenLG-static:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

#tvScreenXL-display {
  position: absolute;
  height: 25rem;
  width: 37rem;
  mask-image: url("./img/tvScreen-icon-mask.png");
  mask-size: cover;
  mask-position: center;
}

#tvScreenLG-display {
  position: absolute;
  height: 23rem;
  width: 27rem;
  mask-image: url("./img/tvScreen-icon-mask.png");
  mask-size: 27rem 23rem;
  mask-position: center;
  mask-repeat: no-repeat;
}

#tvScreenXS-display {
  position: absolute;
  height: 17rem;
  width: 18rem;
  mask-image: url("./img/tvScreen-icon-mask.png");
  mask-size: 18rem 17rem;
  mask-position: center;
  mask-repeat: no-repeat;
}

#tvScreenXS-static {
  position: relative;
  width: 17rem;
  height: 16rem;
  margin: 20px 0;
  background-image: url("./img/static1.gif");
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}

#tvScreenXS-static:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

#tvFrameXL {
  background: #4a2407;
  width: 45rem;
  height: 30rem;
  border-top: 2rem solid #70360a;
  border-right: 2rem solid #70360a;
  border-left: 2rem solid #70360a;
  border-bottom: 2rem solid #70360a;
}

#tvFrameLG {
  background: #4a2407;
  width: 35rem;
  height: 30rem;
  border-top: 2rem solid #70360a;
  border-right: 2rem solid #70360a;
  border-left: 2rem solid #70360a;
  border-bottom: 2rem solid #70360a;
}

#tvFrameXS {
  background: #4a2407;
  width: 20rem;
  height: 18rem;
  border-top: 2rem solid #70360a;
  border-right: 2rem solid #70360a;
  border-left: 2rem solid #70360a;
  border-bottom: 2rem solid #70360a;
}

#tvControlsXL {
  width: 10rem;
  height: 30rem;
  background: #4a2407;
}

#tvControlsLG {
  width: 7rem;
  height: 30rem;
  background: #4a2407;
}

#tvControlsXS {
  width: 4rem;
  height: 18rem;
  background: #4a2407;
}

#tvLegLeft {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 130px solid #4a2407;
  transform: translateY(-1.5rem) rotate(25deg);
}

#tvLegLeftXS {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 130px solid #4a2407;
  transform: translateY(-1.5rem) rotate(25deg) scale(0.7);
}

#tvLegRightXS {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 130px solid #4a2407;
  transform: translateY(-1.5rem) rotate(-25deg) scale(0.7);
}

#tvLegRight {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 130px solid #4a2407;
  transform: translateY(-1.5rem) rotate(-25deg);
}

#tvShadow {
  height: 5rem;
  background: radial-gradient(
    ellipse,
    #0a0a0a,
    #0a0a0a 0%,
    transparent 70%, 
    transparent
    );
  transform: translateY(2rem);
}

#tvShadowXS {
  height: 3rem;
  background: radial-gradient(
    ellipse,
    #0a0a0a,
    #0a0a0a 0%,
    transparent 70%, 
    transparent
    );
  transform: translateY(2rem);
}

#fasterTrait {
  width: 10rem;
  height: 10rem;
  mask-image: url('./img/faster-icon.png');
  mask-position: center;
  mask-size: cover;
  background: #eee8bf;
}

#dynamicTrait {
  width: 10rem;
  height: 10rem;
  mask-image: url('./img/dynamic-icon.png');
  mask-position: center;
  mask-size: cover;
  background: #eee8bf;
}

#cleanTrait {
  width: 10rem;
  height: 10rem;
  mask-image: url('./img/clean-icon.png');
  mask-position: center;
  mask-size: cover;
  background: #eee8bf;
}

#fasterTrait-xs {
  width: 6rem;
  height: 6rem;
  mask-image: url('./img/faster-icon.png');
  mask-position: center;
  mask-size: cover;
  background: #eee8bf;
}

#dynamicTrait-xs {
  width: 6rem;
  height: 6rem;
  mask-image: url('./img/dynamic-icon.png');
  mask-position: center;
  mask-size: cover;
  background: #eee8bf;
}

#cleanTrait-xs {
  width: 6rem;
  height: 6rem;
  mask-image: url('./img/clean-icon.png');
  mask-position: center;
  mask-size: cover;
  background: #eee8bf;
}

#tvGuideLogo {
  width: 12rem;
  height: 9rem;
  background-image: url('./img/TVGuideLogo2.png');
  background-position: center;
  background-size: cover;
  transform: scale(0.8);
}

#github-icon {
  width: 3rem;
  height: 3rem;
  mask-image: url('./img/github-icon2.png');
  mask-position: center;
  mask-size: cover; 
  background: #eee8bf;
}

#telegram-icon {
  width: 3rem;
  height: 3rem;
  mask-image: url('./img/telegram-icon2.png');
  mask-position: center;
  mask-size: cover; 
  background: #eee8bf;
}

#linkedin-icon {
  width: 3rem;
  height: 3rem;
  mask-image: url('./img/linkedin-icon2.png');
  mask-position: center;
  mask-size: cover; 
  background: #eee8bf;
}

#info-panel-XL {
  transform: translateX(-5.5rem) translateY(-30rem);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

/* tv classes */

.tvGrateXL {
  width: 8rem;
  height: 8rem;
  border: 0.2rem solid #401c01;
  background: linear-gradient(
    to bottom,
    #70360a,
    #70360a 50%,
    #4a2407 50%,
    #4a2407
  );
  background-size: 100% 1.18rem;
}

.tvGrateLG {
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid #401c01;
  background: linear-gradient(
    to bottom,
    #70360a,
    #70360a 50%,
    #4a2407 50%,
    #4a2407
  );
  background-size: 100% 1.18rem;
}

.tvGrateXS {
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid #401c01;
  background: linear-gradient(
    to bottom,
    #70360a,
    #70360a 50%,
    #4a2407 50%,
    #4a2407
  );
  background-size: 100% 1.18rem;
}

.tvKnobXL {
  width: 100px;
  height: 100px;
  box-shadow: 3rem;
  background: radial-gradient(
    circle,
    #919191,
    #919191 35%, 
    #c4c3c2 45%,
    #c4c3c2 );
  border: 0.25rem solid #4f4f4e;
  border-radius: 50%;
  z-index: 1;
}

.tvKnobLG {
  width: 80px;
  height: 80px;
  box-shadow: 3rem;
  background: radial-gradient(
    circle,
    #919191,
    #919191 35%, 
    #c4c3c2 45%,
    #c4c3c2 );
  border: 0.25rem solid #4f4f4e;
  border-radius: 50%;
  z-index: 1;
}

.tvKnobXS {
  width: 50px;
  height: 50px;
  box-shadow: 3rem;
  background: radial-gradient(
    circle,
    #919191,
    #919191 35%, 
    #c4c3c2 45%,
    #c4c3c2 );
  border: 0.25rem solid #4f4f4e;
  border-radius: 50%;
  z-index: 1;
}

/* animation classes */

.info-anim-out {
  animation: infoAnimOut;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.info-anim-in {
  animation: infoAnimIn;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.info-anim-LG-out {
  animation: infoAnimLG-Out;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.info-anim-LG-in {
  animation: infoAnimLG-In;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* other classes */

.stat-fill {
  animation-name: statAnim;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.stat-title {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: normal;
  
}

.stat-name {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
}

.section-title {
  font-family: 'fifties_moviesregular';
  font-weight: normal;
  font-style: normal;
}

.about-text {
  font-family: 'Poppins';
  font-weight: 200;
  font-style: normal;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid white;
  background-color: rgb(18, 190, 233);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: yellow;
  
  -webkit-transition: .4s;
  transition: .4s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

input:checked + .slider {
  background-color: rgb(44, 42, 74);
  border: 2px solid #585175;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(44, 42, 74)
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: gray;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* animations */

@keyframes blobAnim {
  0% {transform: rotateY(0deg) rotate(12deg)}
  50% {transform: rotateY(30deg) rotate(12deg)}
  100% {transform: rotateY(0deg) rotate(12deg)}
}

@keyframes statAnim {
  0% {max-width: 0}
  100% {max-width: 26rem}
}

@keyframes infoAnimOut {
  0% {transform: translateX(-5.5rem) translateY(-30rem);}
  100% {transform: translateX(-21rem) translateY(-30rem);}
}

@keyframes infoAnimIn {
  0% {transform: translateX(-21rem) translateY(-30rem);}
  100% {transform: translateX(-5.5rem) translateY(-30rem);}
}

@keyframes infoAnimLG-Out {
  0% {transform: translateY(0rem);}
  100% {transform: translateY(-9rem);}
}
 @keyframes infoAnimLG-In {
  0% {transform: translateY(-9rem);}
  100% {transform: translateY(0rem);}
 }